<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="https://www.dropbox.com/s/elsxmnqokvcz80v/Andrew%20J%20Calhoun%20Resume%20%28web%29.pdf?dl=0">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ajcalhoun@uchicago.edu">email me</a></li>
	        		<li><a href="https://www.linkedin.com/in/ajcalhoun/">let's connect on LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
